.subscribe {
  background-color: #1d1a1a;
  color: white;
  padding: 2px 10px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
}
.nav-main-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
}
.slider-main-content {
  width: 100%;
}
.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(3%, -50%);
  width: 480px;
  height: 326px;
  outline: 1px solid white;
  color: white;
  padding: 42px;
}
.categories-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 1.5rem;
}
.categories-container .category {
  /* position: relative; */
  background-color: rgba(29, 26, 26, 0.6);
}
.categories-container .category .img {
  position: relative;
}
.categories-container .category .title {
  position: absolute;
}

.random-content {
  position: absolute;
  right: 1px;
  justify-content: center;
  justify-items: center;
  width: 60%;
  height: 75%;
  outline: 1px solid rgb(0, 0, 0);
  color: black;
  padding: 42px;
  background-color: white;
}
.random-content-reverse {
  position: absolute;
  left: 1px;
  justify-content: center;
  justify-items: center;
  width: 60%;
  height: 75%;
  outline: 1px solid rgb(0, 0, 0);
  color: black;
  padding: 42px;
  background-color: white;
}

.input-with-btn {
  width: 50%;
  margin: 0 auto;
}
.input-with-btn input {
  margin: 0px;
  padding: 22px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 22px;
}
.input-with-btn button {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 2;
  border: none;
  top: 3px;
  right: 5px;
  cursor: pointer;
  transform: translateX(2px);
  padding-left: 30px;
  padding-right: 30px;
}
.footer-search {
  position: relative;
  margin-top: 34px;
}
.footer-search input {
  margin: 0px;
  padding: 20px;
  width: 100%;
  outline: none;
  height: 30px;
  background-color: rgba(83, 83, 83, 1);
  color: white;
}
.footer-search img {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 2;
  border: none;
  top: 8px;
  cursor: pointer;
  transform: translateX(2px);
  /* padding-left: 30px; */
  padding-right: 16px;
}
